#product-page {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header img {
  max-width: 100%;
}

#middle {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  min-width: 640px;
  margin-left: 7%;
  margin-right: 10%;
  justify-content: center;
}

#left-side {
  max-width: 100%;
  margin-left: 12.5%;
}

#app {
  display: flex;
  max-width: 50%;
  margin-left: 30px;
  margin-bottom: 50px;
}


#checkout-right-side img {
  width: 425px;
  margin-left: 20px;
  margin-right: 17%;
}

#seller-products img {
  max-width: 100%;
}

#ads img {
  max-width: 100%;
}

#recommended-products {
  display: flex;
  max-width: 75%;
  padding-bottom: 24px;
  margin-left: 6%;
  margin-right: 90%;
  width: 800px;
}

#page-end img {
  max-width: 100%;
}